// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.
//start function
function ArrMax.arrMax 2

//store length of array in temp 1
push argument 1
pop temp 1

//store pcrawl as temp 2
push argument 0
pop temp 2

//go to first thing in array, store it as max number in temp 0
push argument 0
pop pointer 1
push that 0
pop temp 0

//go to the next thing in the array, if it exists
label NEXT
push temp 1
push constant 1
sub
push constant 0
eq
if-goto END

//compare the next element in array to max element
push constant 1
push temp 2
add
pop temp 2
push temp 2
pop pointer 1
push that 0
push temp 0
lt
if-goto NEXT
push that 0
pop temp 0
goto NEXT

label END
push temp 0
return
