// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.

//set a to 0, a is stored in local 0
push constant 0
pop local 0

//if x is zero, go to END, x is stored in static 0
push static 0
push constant 0
eq
if-goto END

//if y is zero, go to END, y is stored in static 1
push static 1
push constant 0
eq
if-goto END

//check if x negative, adjusting as needed
push static 0
pop temp 0
push temp 0
push constant 0
gt
if-goto POSX
push static 0
neg
pop temp 0

// using absolute value of x and y, start summing total, absolute value of x stored in local 1
label POSX
push static 1
push local 0
add
pop local 0

//decrementing x by 1, then repeating the cycle
push temp 0
push constant 1
sub
pop temp 0
push temp 0
push constant 0
ne
if-goto POSX

//if x is negative, make result negative
push static 0
push constant 0
gt
if-goto END
push local 0
neg
pop local 0

label END
goto END
