function Fib.fib 1
//check 0
push constant 0
push argument 0
eq 
if-goto ZERO

//check 1
push constant 1
push argument 0
eq
if-goto ONE

//since not 1 or 0, do recursion
push argument 0
push constant 1
sub
call Fib.fib 1
push argument 0
push constant 2
sub
call Fib.fib 1
add
return

label ZERO
push constant 0
return

label ONE
push constant 1
return
